html {
  font-size: 65.5%;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

.page {
  margin: 0;

  background: rgb(201, 24, 108);
  background: rgb(201, 24, 108);
  background: radial-gradient(
    circle,
    rgba(201, 24, 108, 0.8127626050420168) 19%,
    rgba(233, 148, 214, 0.6867121848739496) 100%
  );
}

/* menu containerner */

.container-menu {
  height: 140px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(8, 91, 245);
  display: flex;
  flex-direction: row;
}

.logo {
  height: 30vh;
  max-height: 150px;
  max-width: 220px;
}

.nav-container {
  position: absolute;
  top: 90%;
  width: 100%;
  left: 100%;
}

.nav-container ul {
  list-style: none;
  padding: 0;
}

.nav-container ul li {
  height: 50px;
  width: 100%;
  background: red;
  border-bottom: black solid 1px;
  text-align: center;
}

.nav-container ul li a {
  text-decoration: none;
  font-size: 2.5rem;
  color: black;
}

.active-nav {
  background: none;
  margin: auto 20px auto auto;
  height: 80px;
  width: 80px;
}

/* header pagina */

.header {
  margin: 140px auto auto auto;
  width: 100%;
  max-width: 650px;
  max-height: 300px;
}
.header picture img {
  box-shadow: black 0 0 10px 3px;
}

/* main and seccions */

.principal {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20vw auto auto auto;
}

.principal section {
  padding: 15px;
  background: rgba(255, 255, 255, 0.336);
  border: solid 1px black;
  box-shadow: black 0 0 10px 1px;
  margin-bottom: 30px;
  font-size: 1.6rem;
}

.seccion div h3 {
  text-shadow: chartreuse 2px 2px 10px;
}

.redes div {
  width: 10px;
}

/* medais queries */

@media (min-width: 650px) and (max-width: 900px) {
  .header {
    max-width: 800px;
  }
  .principal {
    margin-top: 30vw;
  }
}

@media (min-width: 900px) {
  .header {
    max-width: 1000px;
  }
  .principal {
    margin-top: 40vw;
  }
  .seccion {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .habilidades h3 {
    font-size: 3rem;
  }
  .trabajos {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .texto-trabajos {
    height: 90%;
    width: 50%;
    padding-left: 5%;

    font-size: 3rem;
  }
  .texto-trabajos h3 {
    text-align: center;
  }
  .trabajos picture {
    width: 50%;
  }
}
